@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  /*FONTS*/
  --font-text: "Poppins", sans-serif;

  /*COLORS*/
  --button-color: #2acfcf;
  --back-menu-color: #3b3054;
  --input-error-color: #f46262;
  --footer-title-color: #bfbfbf;
  --text-color: #9e9aa7;
  --title-color: #35323e;
  --back-footer-color: #232127;
  --aside-color: rgba(211, 210, 210, 0.734);

  /*ACCESSIBILITY*/
  font-size: 62, 5%;
}

body {
  font-family: var(--font-text);
}

/*LOGO*/
#img-logo {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 25%;
}

/*HAMBURGUER MENU*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  margin-bottom: 4rem;
}

#menu {
  z-index: 2;
  border-radius: 1rem;
}

#menu-bar {
  width: 4rem;
  height: 4rem;
  
  position: relative;
  left: 14rem;
  top: 0.7rem;
}
.bar {
  height: 0.15rem;
  width: 30%;
  background-color: var(--text-color);
  display: block;
  transition: 0.3s ease; /*time to change the button form*/
}

#bar1 {
  transform: translateY(-5px);
}

#bar3 {
  transform: translateY(5px);
}

.nav {
  display: none;
  background-color: var(--back-menu-color);
  transition: 0.3s ease;
  padding: 1rem;
  width: 14rem;
  position: relative;
  top: -5rem;
  left: -3.2rem;
  border-radius: 0.5rem;
}

.nav ul {
  height: 15rem;
}

.nav li {
  list-style: none;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.nav li a:hover {
  color: var(--button-color);
}

.menu-bg {
  z-index: 1;
  margin: 3rem 0 2rem 2rem;
  background-color: var(--footer-title-color);
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: var(--text-color);
}

.change #bar1 {
  transform: translateY(1px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-4px) rotateZ(45deg);
}

#line {
  background-color: var(--footer-title-color);
  height: 0.07px;
  opacity: 0.2;
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*BUTTON*/
button {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--button-color);
  padding: 0.5rem 5rem;
  border-radius: 2rem;
  border: none;
}

button:hover {
  background-color: var(--back-footer-color);
}

#sign-up {
  position: relative;
  top: 0rem;
  left: 0.5rem;
  margin: auto;
}

#working-img {
  width: 90%;
  position: absolute;
  top: 4em;
  right: 0rem;
  z-index: -1;
}

section {
  padding: 0 1rem;
  
}

h1 {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17rem;
  z-index: -1;
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.6rem;
}

section p {
  position: absolute;
  top: 21rem;
  text-align: center;
  color: var(--text-color);
  padding-right: 1rem;
  font-size: 0.9rem;
  z-index: -1;
}

.start-button {
  position: absolute;
  top: 26rem;
  left: 4rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

input {
  position: absolute;
  top: 32rem;
  left: 1.7rem;
  width: 80%;
  height: 2rem;
  border-radius: 0.5rem;
  
}

#shorten-button {
  position: absolute;
  top: 35.5rem;
  margin-bottom: 2rem;
  left: 1.9rem;
  border-radius: 0.2rem;
  padding: 0.5em 4.3rem;
   border-radius: 0.5rem;
  
}

#shorten-button:hover {
  background-color: var(--back-footer-color);
}

.shorten-link {
  background-image: url("/assets/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: 300%;
  background-position-y: 150%;
  z-index: 0;
  border-radius: 0.5rem;
  position: absolute;
  top: 31rem;
  left: 0.8rem;
  background-color: var(--back-menu-color);
  width: 16rem;
  height: 8rem;
}

aside {
  padding: 0 1rem;
  text-align: center;
  background-color: var(--aside-color);
  position: relative;
  z-index: -1;
  
}

h2 {
  position: relative;
  padding-top: 5rem;
  margin-top: 30rem;
  color: var(--title-color);
}

aside p {
  color: var(--text-color);
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.icon-img {
  background-color: var(--back-menu-color);
  width: 5rem;
  padding: 1rem 0;
  border-radius: 50rem;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  top: 2rem;
}

h3 {
  padding-top: 1rem;
}

#square,
#square2,
#square3 {
  background-color: white;
  padding: 2.5rem 1rem 1rem 1rem;
  border-radius: 0.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#boost {
  background-image: url("/assets/images/bg-boost-mobile.svg");
  height: 12rem;
  background-repeat: no-repeat;
  background-position-x: 82%;
  background-position-y: 52%;

  background-color: var(--back-menu-color);
}

h4 {
  color: white;
  padding-top: 4rem;
  font-size: 1.1rem;
}

#start2 {
  top: 117rem;
}

footer {
  padding-top: 2rem;
  color: white;
  background-color: var(--back-footer-color);
  text-align: center;
}

h5 {
  padding: 2rem 0 1rem 0;
  font-size: 1rem;
}

footer ul li {
  color: var(--text-color);
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

#social-medias{
  padding: 3rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
/*//////////////////////////////*/

@media (min-width: 20rem) {
  #menu-bar {
    left: 19.5rem;
    top: 0.5rem;
  }

  .nav {
    width: 19.3rem;
  }

  #line {
    width: 18rem;
  }

  #sign-up {
    left: 3rem;
  }

  h1{
    margin-top: 5rem;
  }

  section p{
    margin-top: 3rem;
  }

  .start-button{
    margin: 3rem;
  } 
  .shorten-link {
    margin-top: 2rem;
    width: 22rem;

  }

  input{
    margin-top: 3rem;
    width: 85%
  }

  #shorten-button{
    margin-top: 2rem;
    width: 85%;
  }

  

}

@media (min-width: 22rem) {
  .nav {
    left: -2.9rem;
  }
}

@media (min-width: 24rem) {
  .nav {
    left: -2.9rem;
  }
}
@media (min-width: 25rem) {
  .nav {
    left: -2.9rem;
  }
  #working-img {
    width: 70%;
    left: 5rem;
  }
}

@media (min-width: 28rem) {
  .nav {
    left: 20.8rem;
  }

  #img-logo {
    top: 2.5rem;
    left: 3rem;
    width: 15%;
  }

  #menu-bar {
    left: 42rem;
    top: -5.3rem;
  }
}

@media (min-width: 49rem) {
  .nav {
    left: 22rem;
  }
  #menu-bar {
    left: 43rem;
  }
}
