@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*FONTS*/
  --font-text: "Poppins", sans-serif;

  /*COLORS*/
  --button-color: #2acfcf;
  --back-menu-color: #3b3054;
  --input-error-color: #f46262;
  --footer-title-color: #bfbfbf;
  --text-color: #9e9aa7;
  --title-color: #35323e;
  --back-footer-color: #232127;
  --aside-color: rgba(211, 210, 210, 0.734);

  /*ACCESSIBILITY*/
  font-size: 62, 5%;
}

body {
  font-family: var(--font-text);
}

/*LOGO*/
#img-logo {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 25%;
}

/*HAMBURGUER MENU*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  margin-bottom: 4rem;
}

#menu {
 
  border-radius: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 11px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.767);
}

.close {
  color: white;
  position: absolute;
  left: 13.5rem;
  top: 0.2rem;
  font-size: 3rem;
  font-weight: normal;
  display: flex;


}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  
}

#menu-bar {
  width: 4rem;
  height: 4rem;

  position: relative;
  left: 14rem;
  top: 0.7rem;
}
.bar {
  height: 0.15rem;
  width: 30%;
  background-color: var(--text-color);
  display: block;
  transition: 0.3s ease; /*time to change the button form*/
  margin-right: -1rem;
}

#bar1 {
  transform: translateY(-5px);
  margin-right: -1rem;
}

#bar3 {
  transform: translateY(5px);
  margin-right: -1rem;
}

.nav {
  display: block;
  background-color: var(--back-menu-color);
  transition: 0.3s ease;
  padding: 1rem;
  width: 14rem;
  position: relative;
  top: 0rem;
  left: -2.8rem;
  border-radius: 0.5rem;
}

.nav ul {
  height: 15rem;
}

.nav li {
  list-style: none;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.nav li a:hover {
  color: var(--button-color);
}





#line {
  background-color: var(--footer-title-color);
  height: 0.07px;
  opacity: 0.2;
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*BUTTON*/
button {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--button-color);
  padding: 0.5rem 5rem;
  border-radius: 2rem;
  border: none;
}

button:hover {
  background-color: var(--back-footer-color);
}

#sign-up {
  position: relative;
  top: 0rem;
  left: 2.1rem;
  margin: auto;
  padding: 0.5rem 2rem;
}

#working-img {
  width: 90%;
  position: absolute;
  top: 4em;
  right: 0rem;
  z-index: -1;
}

section {
  padding: 0 1rem;
}

h1 {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17rem;
  z-index: -1;
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.6rem;
}

section p {
  position: absolute;
  top: 21rem;
  text-align: center;
  color: var(--text-color);
  padding-right: 1rem;
  font-size: 0.9rem;
  z-index: -1;
}

.start-button {
  position: absolute;
  top: 26rem;
  left: 4rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

input {
  position: absolute;
  top: 32rem;
  left: 1.7rem;
  width: 80%;
  height: 2rem;
  border-radius: 0.5rem;
}

#shorten-button {
  position: absolute;
  top: 35.5rem;
  margin-bottom: 2rem;
  left: 1.9rem;
  border-radius: 0.2rem;
  padding: 0.5em 4.3rem;
  border-radius: 0.5rem;
}

#shorten-button:hover {
  background-color: var(--back-footer-color);
}

.shorten-link {
  background-image: url("/assets/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: 300%;
  background-position-y: 150%;
  z-index: 0;
  border-radius: 0.5rem;
  position: absolute;
  top: 31rem;
  left: 0.8rem;
  background-color: var(--back-menu-color);
  width: 16rem;
  height: 8rem;
}

aside {
  padding: 0 1rem;
  text-align: center;
  background-color: var(--aside-color);
  position: relative;
  z-index: -1;
}

h2 {
  position: relative;
  padding-top: 5rem;
  margin-top: 30rem;
  color: var(--title-color);
}

aside p {
  color: var(--text-color);
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.icon-img {
  background-color: var(--back-menu-color);
  width: 5rem;
  padding: 1rem 0;
  border-radius: 50rem;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  top: 2rem;
}

h3 {
  padding-top: 1rem;
}

#square,
#square2,
#square3 {
  background-color: white;
  padding: 2.5rem 1rem 1rem 1rem;
  border-radius: 0.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#boost {
  background-image: url("/assets/images/bg-boost-mobile.svg");
  height: 12rem;
  background-repeat: no-repeat;
  background-position-x: 82%;
  background-position-y: 52%;

  background-color: var(--back-menu-color);
}

h4 {
  color: white;
  padding-top: 4rem;
  font-size: 1.1rem;
}

#start2 {
  top: 7rem;
}

footer {
  padding-top: 2rem;
  color: white;
  background-color: var(--back-footer-color);
  text-align: center;
}

h5 {
  padding: 2rem 0 1rem 0;
  font-size: 1rem;
}

footer ul li {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;

}

footer li{
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: var(--text-color);
}

footer ul li a:hover {
  color: var(--button-color);
}

#social-medias {
  padding: 3rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*//////////////////////////////*/

@media (min-width: 360px) {
  #menu-bar {
    left: 19.5rem;
    top: 0.5rem;
  }

  .nav {
    width: 19.3rem;
  }

  #line {
    width: 18rem;
  }

  #sign-up {
    left: 3rem;
  }

  #working-img {
    left: 3.2rem;
  }

  h1 {
    margin-top: 5rem;
  }

  section p {
    margin-top: 3rem;
  }

  .start-button {
    margin: 3rem;
  }
  .shorten-link {
    margin-top: 2rem;
    width: 22rem;
  }

  input {
    margin-top: 3rem;
    width: 85%;
  }

  #shorten-button {
    margin-top: 2rem;
    width: 85%;
  }

  #start2 {
    top: 4rem;
  }
  aside {
    width: 96%;
  }
  footer {
    width: 105%;
  }
  input {
    left: 2.2rem;
  }
  #shorten-button {
    left: 2.2rem;
  }
  .close{
    left: 19rem;
  }
}

@media (min-width: 375px) {
  .nav {
    left: -2.9rem;
  }

  #working-img {
    left: 2.4rem;
  }

  input {
    left: 2rem;
  }
  #shorten-button {
    left: 2rem;
  }
.close{
  left: 19rem;
    top: 0.3rem;
}
  #square,
  #square2,
  #square3 {
    width: 19.5rem;
    margin: 1rem auto;
  }
  aside {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}

/*/////////////////////////////////////////////////////*/

@media (min-width: 390px) {
  .shorten-link {
    width: 23rem;
  }
  input {
    left: 1.8rem;
  }
  .start-button {
    left: 5rem;
  }

  #square,
  #square2,
  #square3 {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 400px) {
  .nav {
    left: -1.5rem;
  }

  #menu-bar {
    left: 21.5rem;
  }
  #working-img {
    width: 90%;
    left: 2.5rem;
  }

  .shorten-link {
    width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    left: 1.7rem;
  }

 

#boost{
  width: 26rem;
}

aside {
  width: 26rem;
}
h1{
  left: 2.5rem;
}
.close {
  left: 21rem;
}
  
}



/*///////////////////////////////////////////////////////*/

@media (min-width: 700px) {
  .nav {
    left: 18.8rem;
    top: -1rem;
  }

  #img-logo {
    top: 3rem;
    left: 4rem;
    width: 20%;
  }

  #menu-bar {
    left: 42em;
    top: 1rem;
    margin-right: 0;
    width: 6rem;
  }

  #working-img {
    width: 90%;
    left: 4.7rem;
  }
  h1 {
    margin-top: 21rem;
    left: 10rem;
    font-size: 2rem;
  }

  section p {
    top: 39rem;

    font-size: 1.2rem;
    margin: 2rem 2rem;
    z-index: -1;
  }

  input {
    top: 49.5rem;
    left: 2rem;
    width: 90%;
  }
  .start-button {
    top: 43rem;
    left: 13rem;
    padding: 1rem 5rem;
  }

  #shorten-button {
    top: 53.5rem;
    width: 91%;
    left: 1.9rem;
  }

  .shorten-link {
    width: 97%;
    margin-top: 20rem;
  }

  aside {
    top: 18rem;
    width: 100%;
  }

  #p-aside {
    margin-right: 3rem;
  }

  #square,
  #square2,
  #square3 {
    width: 30rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  aside p {
    font-size: 1.3rem;
  }
  #boost {
    background-position-x: 94%;
    background-position-y: 25%;
  }

  h4 {
    font-size: 1.6rem;
  }

  #start2 {
    top: 4rem;
    left: 14.2rem;
    z-index: 1;
  }
  #start2:hover {
    background-color: var(--back-footer-color);
  }

  footer {
    margin-top: 17.8rem;
  }

  h5 {
    
    font-size: 1.5rem;
  }
  
  footer ul li {
   
    font-size: 1.2rem;
  }
}


@media (min-width: 750px){
  #boost {
    width: 47.9rem;
}
}

@media (min-width: 800px){
  .nav{
  width: 27.3rem;
    height: 20rem;
    left: 11rem;
    
    
}
#sign-up {
  left: 5.9rem;
  font-size: 1.5rem;
}

.close {
    left: 41rem;
}

.nav li a{
  font-size: 1.5rem;
}

  .shorten-link {
  width: 45rem;
  margin-top: 20rem;
  margin: auto;
  position: relative;
  top: 41rem;
  }

  input {
    position: relative;
    top: 31.5rem;
    /* margin: auto; */
    left: 4.2rem;
    width: 42rem;
}

#shorten-button {
  top: 30.5rem;
  position: relative;
  width: 42rem;
  left: 4.2rem;
}

.start-button {
  position: relative;
  left: 14rem;
  top: 39rem;
}

h1 {
  margin-top: 24rem;
  left: 12rem;
}

section p {
  top: 43rem;
  
  margin: 2rem 3rem;}

  aside {
    top: -4rem;}


  #boost {
    background-position-x: 98%;
    background-position-y: 18%;


    width: 49.9rem;
}

#start2 {
  top: -2rem;
  left: 0.2rem;
}

footer {
  margin-top: -4.2rem;
}

}



@media (min-width: 900px){
/*NAV*/
  #img-logo{
    top: 6rem;
    left: 20rem;
    width: 8rem;
  }

  #desktop-menu{
    display: flex;
    gap: 2.5rem;
    position: relative;
    top: 1rem;
    left: 22rem;
  }

  .nav{
    display: block;
    background-color: transparent;
    
   
  }

  .nav ul li a{ 
    color: var(--title-color);
    font-size: 1.2rem;
    font-weight: 700;
    
  
  }

  .modal{

    background-color: transparent;
    
  }

  #login{
    display: flex;
    position: relative;
    top: -4.1rem;
    left: 71rem;
    
  }

  #sign-up {
    padding: 0.5rem 2rem;
    left: -2rem;
    
  }

  #menu-bar{
    display: none;
  }



  /*section*/

  #working-img {
    position: relative;
    width: 45rem;
    left: 80.5rem;
    top: 10rem;
}

h1{
  position: relative;
  

  top: -41rem;
  font-size: 6rem;
  width: 50rem;
  line-height: 6rem;
  left: -18.5rem;
  text-align: left;
 
}


section p{
  position: relative;
  top: -40rem;
  font-size: 1.8rem;
  width: 45rem;
  text-align: left;
  left: 19rem;
  }

  .start-button {
    position: relative;
    top: -43.5rem;
    font-size: 1.6rem;
    padding: 1.2rem 3rem;
    left: 16rem;
}




.shorten-link {
  
  position: relative;
  width: 90rem;
  height: 12rem;
  margin-top: -80rem;
  left: 1rem;
  background-image: url('/assets/images/bg-boost-desktop.svg');
 
  background-position-x: 44%;
  background-position-y: 109%;
}

input {
  top: 30rem;
  left: 21rem;
  width: 70rem;
  height: 4rem;
}

#shorten-button {
  top: 30rem;
  width: 12rem;
  position: relative;
  left: 22.9rem;
  padding: 1.5rem 0rem;
}

aside{
  top: -2rem;
  z-index: -1;
  width: 100%;
  height: 87rem;
}
h2{
  padding-top: 9rem;
  font-size: 3rem;
}


#square {
  position: relative;
  left: -31rem;
  height: 16rem;
  width: 25rem;
}

#icon-img1 {
  position: relative;
  left: -39rem;
  top: 3rem;
  z-index: 1;
}

#square2 {
  position: relative;
    left: 1rem;
    height: 16rem;
    width: 25rem;
    top: -17rem;
}

#icon-img2 {
  position: relative;
  left: -7rem;
  top: -14rem;
  z-index: 1;
  
}

#square3 {
  position: relative;
  left: 33rem;
  height: 16rem;
  width: 25rem;
  top: -35rem;
}

#icon-img3 {
  position: relative;
  left: 25rem;
  top: -32rem;
  z-index: 1;
}



/*BOOST*/

#boost{
  margin-top: -30rem;
  background-image: url('/assets/images/bg-boost-desktop.svg');
  background-position-x: 100%;
  width: 100%;
 
}

h4 {
  font-size: 2rem;
}

#start2 {
  position: relative;
  top: -2.7rem;
  left: 0.2rem;
  z-index: 2;
  padding: 0.7rem 1.5rem;
}


footer{
  position: relative;
  width: 100%;
  margin-top: -2rem;
  background-color: #232127;
  height: 30rem;
 
}

footer img{
  position: relative;
  left: -38rem;
  top: 6.6rem;
 }
 
 #features{
   position: relative;
   left: 38rem;
     top: 2rem;
     width: 15rem;
  
 }
 
 #resources{
  position: relative;
  right: -57rem;
    top: -10.4rem;
    width: 15rem;
}

#company{
  position: relative;
  right: -74rem;
  top: -22.8rem;
  width: 15rem;
}

#social-medias{
  display: none;
  position: relative;
  left: 73rem;
  top: -45rem;
  width:20rem
}

footer ul li a:hover{
  color: var(--button-color);
 
}

main{
  height: 159rem;
}
 /* 
  
main{
  max-width: 110rem;
  background-color:white;
  margin: 0 auto;
  z-index: -2;
  height: 159rem;
  
}



.myModal{
  width: 10rem;
}


section{

  
  position: relative;
 
  z-index: 0;
  max-width: 110rem ;
}














h2 {
 
}
aside p {
  text-align: left;
  padding-left: 1rem;
}

#p-aside{
  width: 40rem;
  margin: auto;
  text-align: center;
}





h3 {
  padding-top: 2.5rem;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1rem;
}










#social-medias{
  padding-inline: 47rem;
  position: relative;
  left: 73rem;
  top: -45rem;
}

footer ul li a:hover{
  color: var(--button-color);
  width:20rem
}

*/

}
